<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form #courtForm="ngForm" (change)="formState($event)" class="form-horizontal ">
        <div class="card">
          <div class="card-header">
            <strong>Kort Ekle </strong> Form
          </div>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Kort Adı</label>
              <div class="col-md-9">
                <input type="text" name="name" class="form-control" placeholder="x cort" ngModel>
                <span class="help-block">kort genel ad</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label">Status</label>
              <div class="col-md-9">
                <div class="checkbox">
                  <label for="checkbox1">
<input type="checkbox"  name="isActive" ngModel> Aktif/Pasif *IsActive
</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">Kort Hakkında</label>
              <div class="col-md-9">
                <textarea name="kort_hakkinda" rows="9" class="form-control" placeholder="Kort Hakkında" ngModel></textarea>
              </div>
            </div>

          </div>

        </div>
        <div class="card">
          <div class="card-header">
            <strong>pricing</strong>
          </div>
          <div class="card-block">
            <div ngModelGroup="pricing">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Ücret Bilgisi</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label for="checkbox1">
<input type="checkbox"  name="isPrice" ngModel> Ücretli
</label>
                  </div>
                </div>
              </div>
              <div *ngIf="courtForm?.value?.pricing?.isPrice">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Ücret Bilgisi</label>
                  <div class="col-md-9">
                    <input type="text" name="totalPrice" class="form-control" placeholder="Total Price : 100 $" ngModel>
                    <span class="help-block">kulüp ücreti</span>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="select">Para Formatı</label>
                  <div class="col-md-9">
                    <select name="priceCurrency" class="form-control" size="1" ngModel>
<option value="USD">USD</option>
<option value="TL">TL</option>
<option value="EURO">EURO</option>
</select>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <strong>courtType</strong>
          </div>
          <div class="card-block">
            <div ngModelGroup="courtType">

              <div class="form-group row">
                <label class="col-md-3 form-control-label">courtTypeLight</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label for="checkbox1">
<input type="checkbox"  name="courtTypeLight" ngModel> *courtTypeLight
</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">courtTypeFloor</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label for="checkbox1">
<input type="checkbox"  name="courtTypeFloor" ngModel> *courtTypeFloor
</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">isWarming</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label for="checkbox1">
<input type="checkbox"  name="isWarming" ngModel> *isWarming
</label>
                  </div>
                </div>
              </div>
              <div class="form-group row" ngModelGroup="ground">
                <label class="col-md-3 form-control-label">ground</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label for="checkbox1">
<input type="checkbox"  name="sert" ngModel> *sert
<input type="checkbox"  name="tartan" ngModel> *tartan
<input type="checkbox"  name="toprak" ngModel> *toprak
</label>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </form>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="newCourt(courtForm)"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
            <div class="card-footer">
                <div>
    <pre>{{courtForm.value | json}}</pre> </div>
               </div>
    </div>
  </div>

</div>